@media screen and (max-width: 1600px){
    /* 섹션 3 */
    .target-2 .target-txt h2 br, .target-3 .target-txt h2 br{
        display: block;
      }
}
@media screen and (max-width: 1400px){
    /* 모달창 */
    .modal{
        width: 90%;
        height: 90%;
        max-width: 1000px;
        /* background-size: contain; */
    }
}
@media screen and (max-width: 1318px){
    /* 섹션 3 */
    .target-1 .target-txt p br, .target-2 .target-txt p br, .target-3 .target-txt p br{
        display: block;
      }
}
@media screen and (max-width: 1100px){
    /* 모달창 */
    .modal{
        width: 90%;
        height: 80%;
        max-width: 800px;
        /* background-size: contain; */
    }
    /* 섹션 3 */
    .target-wrap{
        flex-direction: column
    }
    .target-1{
        background: url("../images/target-1-mo.png") no-repeat center;
        width: 100%;
        height: calc(100% / 3);
    }
    .target-2{
        background: url("../images/target-2-mo.png") no-repeat center;
        width: 100%;
        height: calc(100% / 3);
    }
    .target-3{
        background: url("../images/target-3-mo.png") no-repeat center;
        width: 100%;
        height: calc(100% / 3);
    }
    .target-txt{
        padding-bottom: 0;
    }
}