@charset "UTF-8";

/* 폰트 적용 */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Gothic A1", sans-serif;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10000;
}
.header .logo {
  padding: 15px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}


* {
  box-sizing: border-box;
}
.header {
  width: 100%;
}
/* 헤더 */
.header {
  display: flex;
  justify-content: space-around;
}
.hd-left {
  width: 10%;
}
.hd-left img {
  width: 40%;
}
.hd-right {
  width: 80%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hd-right-left {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.hd-nav {
  width: 100%;
  /* background-color: beige; */
  display: flex;
  gap: 11%;
  font-size: 0.9vw;
  font-weight: 600;
  color: #fff;
  justify-content: flex-end;
}
.hd-right-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%;
}
.hd-login {
  width: 50%;
}
.hd-login ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6%;
}
.hd-login ul li {
  color: #fff;
  font-size: 0.9vw;
  font-weight: 600;
}
.signup {
  position: relative;
}
.signup li {
  display: none;
  width: 80px;
  position: absolute;
  top: 4px;
  left: 0px;
  padding-top: 10px;
}
.signup li a {
  display: block;
  width: 100%;
}
.signup li a span {
  display: block;
  width: 100%;
  /* background-color: aqua; */
}
.language {
  position: relative;
}
.language li {
  display: none;
  width: 80px;
  position: absolute;
  top: 4px;
  left: 0px;
  padding-top: 10px;
}
.language li a {
  display: block;
  width: 100%;
}
.language li a span {
  display: block;
  width: 100%;
  /* background-color: aqua; */
}
/* header-middle */
.header-middle {
  position: relative;
  display: block;
  background-color: #fff;
}
/* .hd-login>ul>li>.login-ul{
  /* display:none; }*/
.hd-nav li a span {
  position: relative;
}
.hd-nav li a span::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0%;
  height: 3px;
  opacity: 0;
  background-color: #fff;
  transition: all 0.5s;
}
.hd-nav li a:hover span::after {
  width: 100%;
  opacity: 1;
}
.fa-regular {
  font-size: 1.5vw;
}
.fa-solid {
  font-size: 1vw;
}
.hd-language {
  width: 20%;
}
.hd-language ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15%;
}
.hd-language ul li {
  color: #fff;
  font-size: 0.9vw;
  font-weight: 600;
}
/* 섹션1 */
#section1 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.section1-bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.section1-bg img {
  width: 90%;
  height: 100%;
}
.jangseonggue {
  position: absolute;
  bottom: -1%;
  left: 22%;
  width: 100%;
}
.jangseonggue img {
  width: 60%;
  height: 100%;
}
.scroll {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 4.5%;
}
.scroll span {
  position: absolute;
  bottom: 77%;
  left: 42.5%;
  transform: translateX(-42.5%);
  width: 12%;
  height: 12%;
  border-radius: 50%;
  background-color: #fff;
  /* display: none; */
}
/* .scroll span a{
  display: block;
  width: 1%;
} */
/* @media screen and (max-width :1669px) {
  .section-bg{
    height: 57.10vw;
}
} */

/* 섹션2 */
#section2 {
  width: 100%;
  height: 100vh;
}
.section2-bg {
  position: relative;
  /* bottom: -1%; */
  width: 100%;
  height: 100vh;
}
.mangojuice {
  width: 100%;
  height: 100vh;
}
.mangojuice img {
  width: 100%;
  height: 100%;
}
.jangseonggue {
  position: absolute;
  bottom: -1%;
  left: 22%;
  width: 100%;
}
.jangseonggue img {
  width: 60%;
  height: 100%;
}

/* section-3 */
#section3 .section-inner {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 180px;
}
/* #section3 .section-inner h1 {
  text-align: center;
  margin-top: 210px;
  font-family: "GmarketSansMedium";
  font-size: 40px;
  font-weight: bold;
  color: rgb(233, 74, 125);
} */
.target-title {
  width: 35%;
}
.target-wrap {
  margin: 100px 0 0 0;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  width: 90%;
  height: 470px;
}
.target-1 {
  width: calc(100% / 3 - 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}
.target-2 {
  width: calc(100% / 3 - 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}
.target-3 {
  width: calc(100% / 3 - 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}
.target-1 p,
.target-2 p,
.target-3 p {
  text-align: center;
  font-family: "GmarketSansMedium";
  font-size: 1.5vw;
  font-weight: bold;
  color: rgb(233, 74, 125);
  margin-top: 20px;
  line-height: 1.2;
}
.target-img {
  display: block;
  animation: vibration 0.8s infinite linear;
  width: 65%;
  height: auto;
}
@keyframes vibration {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* .target-txt {
  width: 50%;
} */
.target-hover {
  width: 350px;
  height: 450px;
  background: url("../images/bg.png") no-repeat;
  background-size: contain;
  text-align: center;
  padding: 50px;
  display: none;
}
.target-1 .target-hover {
  position: absolute;
  top: 320px;
}
.target-2 .target-hover {
  position: absolute;
  top: 320px;
}
.target-3 .target-hover {
  position: absolute;
  top: 320px;
}
.target-hover h2 {
  font-family: "GmarketSansMedium";
  font-weight: bold;
  font-size: 1.2vw;
  color: #444;
}
.target-hover img {
  height: 65%;
  margin-top: 30px;
}
.target-hover p {
  font-family: "Noto Sans KR";
  font-size: 0.8vw;
  font-weight: 400;
  color: #444;
  margin-top: 20px;
}
/* section-4 */

/* section 5 */

.video-box {
  max-width: 1800px;
  display: flex;
  justify-content: center;
  /* 우측 고정메뉴너비확인 */
  /* margin-right: 70px; */
}
/* 간격 넓게 잡음 */
.video-box iframe {
  margin: 0 3% 0 0; /* 각 동영상 사이의 여백 */
}
/* 네비 */
footer {
  color: #454545;
  border: 1px solid #333;
}
.ft-menu {
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: relative;
  display: flex;
  justify-content: left;
  gap: 8%;
  padding-left: 8%;
  /* background-color: #ff7a00; */
  border-bottom: 1px solid #333;
  font-weight: bold;
  white-space: nowrap;
}
.ft-menu ul {
  /* 100% 80% 차이 */
  width: 80%;
  display: flex;
  gap: 7%;
  padding-left: 7%;
}
.ft-menu ul li {
  color: #fff;
  line-height: 50px;
}
/* .ft-menu ul li::after {
  content: "";
  border-right: 1px solid #fff;
} */
/*셀렉션 */
.familysite {
  width: 400px;
  height: auto;
  /* margin-top: 7px;
  margin-right: 8%; */
  background-color: #4400ff;
  color: #454545;
  text-align: center;
  border: none;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.familysite-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.familysite-list li {
  /* display: none; */
}
footer .logo-img {
  width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 2% 0 0 0;
}
.sns-img {
  padding: 2.5% 0 0.5% 0;
}
.sns-img img {
  width: 60px;
  padding-right: 1%;
}
.text {
  color: #4b4b4b;
  text-align: center;
  /* letter-spacing: 0.2px; */
  line-height: 1.5em;
}
.text-copy {
  font-weight: bold;
  text-align: center;
  padding: 0 0 5% 0;
  color: #4b4b4b;
}