@charset "UTF-8";

/* 폰트 적용 */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

html,
body {
  font-family: "Gothic A1", sans-serif;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10000;
}
.header .logo {
  padding: 15px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

/* 페이지 앵커 */
#pageMenu {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
  z-index: 999;
}
#pageMenu li {
  margin: 5px 0;
}
#pageMenu a {
  display: block;
  width: 100%;
  position: relative;
  text-align: right;
  padding-right: 20px;
}
#pageMenu a span {
  color: #fff;
  font-size: 0px;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 30px;
  display: inline-block;
}
#pageMenu.on a span {
  color: #fff;
}
#pageMenu a i {
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #d5d5d5;
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#pageMenu a i::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
}
#pageMenu li.active a span {
  font-size: 13px;
}
#pageMenu li.active a i::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
}

/* 페이지 */
/*확인용 색상 */
#section1 {
  background-color: #feca39;
}
#section2 {
  background-color: #fff;
}
#section3 {
  background-color: #feca39;
}
#section4 {
  background-color: #fff;
}
#section5 {
  background-color: #feca39;
}
#section6 {
  background-color: #fff;
}
.section .section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#section6 .section-inner {
  min-height: 300px;
}

/* 애니메이션 */
/* .section.active .ani-01 {animation: fadeLeft 0.5s 0.35s both;}
.section.active .ani-02 {animation: fadeLeft 0.5s 0.55s both;}
.section.active .ani-03 i {animation: fadeUp 0.4s 0.2s both} */


* {
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 140px;
}
/* 헤더 */
.header {
  display: flex;
  justify-content: space-around;
}
.hd-left {
  width: 10%;
}
.hd-left img {
  width: 40%;
}
.hd-right {
  width: 80%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hd-right-left {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.hd-nav {
  width: 100%;
  /* background-color: beige; */
  display: flex;
  gap: 10%;
  font-size: 1.1vw;
  font-weight: 600;
  color: #fff;
  justify-content: flex-end;
}
.hd-right-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%;
}
.hd-login {
  width: 50%;
}
.hd-login ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6%;
}

.hd-login ul li {
  color: #fff;
  font-size: 1.1vw;
  font-weight: 600;
}
.hd-nav li a span {
  position: relative;
}
.hd-nav li a span::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0%;
  height: 3px;
  opacity: 0;
  background-color: #fff;
  transition: all 0.5s;
}
.hd-nav li a span::after {
  width: 100%;
  opacity: 1;
}
.fa-regular {
  font-size: 1.5vw;
}
.fa-solid {
  font-size: 1vw;
}
.hd-language {
  width: 20%;
}
.hd-language ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12%;
}
.hd-language ul li {
  color: #fff;
  font-size: 1.1vw;
  font-weight: 600;
}
/* 섹션1 */
#section1 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.section-bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-bg img {
  width: 90%;
  height: 100%;
}
.jangseonggue {
  position: absolute;
  bottom: -1%;
  left: 22%;
  width: 100%;
}
.jangseonggue img {
  width: 60%;
  height: 100%;
}
/* @media screen and (max-width :1669px) {
  .section-bg{
   
    height: 57.10vw;
   }
} */

/* Section-3 */
.ingredient {
  margin: 0 auto;
  width: 60%;
  position: relative;
  /* background-color: #444141; */
}
.ingredient-img {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
  object-fit: cover;
}
.detail-wrap {
  width: 100%;
  position: relative;
  /* background-color: rgb(75, 218, 47); */
}
.detail {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 35%;
  /* background-color: bisque; */
}
.detail img {
  width: 25%;
  cursor: pointer;
}
.detail-txt {
  width: 78%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.detail-txt h2 {
  color: #444;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 1.7;
}
.detail-txt p {
  color: #555;
  font-weight: 600;
  font-size: 0.7vw;
  line-height: 1.5;
}
.detail-1 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  top: -250px;
  left: 50px;
}
.detail-2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  top: 25px;
  left: -95px;
}
.detail-3 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  top: 303px;
  left: 50px;
}
.detail-4 {
  position: absolute;
  top: -250px;
  left: 697px;
}
.detail-5 {
  position: absolute;
  top: 25px;
  left: 842px;
}
.detail-6 {
  position: absolute;
  top: 303px;
  left: 697px;
}
.detail-1:hover .detail-txt {
  opacity: 1;
}
.detail-2:hover .detail-txt {
  opacity: 1;
}
.detail-3:hover .detail-txt {
  opacity: 1;
}
.detail-4:hover .detail-txt {
  opacity: 1;
}
.detail-5:hover .detail-txt {
  opacity: 1;
}
.detail-6:hover .detail-txt {
  opacity: 1;
}

/* Section-4 */
.sidemenu{
  position: fixed;
right: 0;
top: 0;
width: 100px;
height: 100%;
background-color: rgba(255, 255, 255, 0.2);
/* background-color: blue; */
}
.video-box {
  display: flex;
  justify-content: center;
  /* 우측 고정메뉴너비확인 */
  margin-right: 70px;
}
/* 간격 넓게 잡음 */
.video-box iframe {
  margin: 0 3% 0 0; /* 각 동영상 사이의 여백 */
}
/* 네비 */
.ft-menu {
width: 100%;
/* 100px -> 50px*/
height: 50px;
  position: relative;
  display: flex;
  background-color: #ff7a00;
}
.ft-menu ul {
    /* 100% 80% 차이 */
  width: 80%;
  display: flex;
  gap: 7%;
  padding-left: 7%;
}
.ft-menu ul li {
  color: #fff;
  line-height: 50px;
}
/* .ft-menu ul li::after {
  content: "";
  border-right: 1px solid #fff;
} */
/*셀렉션 */
.familysite {
  width: 15%;
height: 36px;
margin-top: 7px;
  margin-right: 8%;
  background-color: #ff7a00;
  color: #fff;
  text-align: center;
  border: none;
}
.familysite-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.familysite-list li{
  /* display: none; */

}
footer .logo-img {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 2.5% 0 2.5% 0;
}
.sns-img {
  padding: 1.5% 0 1.5% 0;
}
.sns-img img {
  width: 50px;
  padding-right: 1%;
}
.text {
  color: #7a7a7a;
  text-align: center;
  /* letter-spacing: 0.2px; */
  line-height: 1.5em;
}
.text-copy {
  font-weight: bold;
}

