@charset "UTF-8";

/* 폰트 적용 */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
html,
body {
  font-family: "Gothic A1", sans-serif;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10000;
}
.header .logo {
  padding: 15px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

/* 페이지 */
/*확인용 색상 */
#section1 {
  background-color: #feca39;
}
#section2 {
  background-color: #fff;
}
#section3 {
  background-color: #feca39;
}
#section4 {
  background-color: #fff;
}
#section5 {
  background-color: #feca39;
}
#section6 {
  background-color: #fff;
}
.section .section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#section6 .section-inner {
  min-height: 300px;
}

* {
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 140px;
}
/* 헤더 */
.header {
  display: flex;
  justify-content: space-around;
}
.hd-left {
  width: 10%;
}
.hd-left img {
  width: 40%;
}
.hd-right {
  width: 80%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hd-right-left {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.hd-nav {
  width: 100%;
  /* background-color: beige; */
  display: flex;
  gap: 10%;
  font-size: 1.1vw;
  font-weight: 600;
  color: #fff;
  justify-content: flex-end;
}
.hd-right-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%;
}
.hd-login {
  width: 50%;
}
.hd-login ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6%;
}
.hd-login ul li {
  color: #fff;
  font-size: 1.1vw;
  font-weight: 600;
}
.hd-login ul li:nth-child(2) {
  padding-bottom: 10px;
}
/* .hd-login>ul>li>.login-ul{
  /* display:none; }*/
.hd-nav li a span {
  position: relative;
}
.hd-nav li a span::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0%;
  height: 3px;
  opacity: 0;
  background-color: #fff;
  transition: all 0.5s;
}
.hd-nav li a:hover span::after {
  width: 100%;
  opacity: 1;
}
.fa-regular {
  font-size: 1.5vw;
}
.fa-solid {
  font-size: 1vw;
}
.hd-language {
  width: 20%;
}
.hd-language ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15%;
}
.hd-language ul li {
  color: #fff;
  font-size: 1.1vw;
  font-weight: 600;
}
/* 섹션1 */
#section1 {
  width: 100%;
  height: 100vh;
  display: flex;
}
.section-bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-bg img {
  width: 90%;
  height: 100%;
}
.jangseonggue {
  position: absolute;
  bottom: -1%;
  left: 22%;
  width: 100%;
}
.jangseonggue img {
  width: 60%;
  height: 100%;
}
/* @media screen and (max-width :1669px) {
  .section-bg{
   
    height: 57.10vw;
   }
} */

/* Section-3 */
.ingredient {
  margin: 0 auto;
  width: 60%;
  position: relative;
  /* background-color: #444141; */
}
.ingredient-img {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
  object-fit: cover;
}
.detail-wrap {
  width: 100%;
  position: relative;
  /* background-color: rgb(75, 218, 47); */
}
.detail {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 35%;
  /* background-color: bisque; */
}
.detail img {
  width: 25%;
  cursor: pointer;
}
.detail-txt {
  width: 78%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.detail-txt h2 {
  color: #444;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 1.7;
}
.detail-txt p {
  color: #555;
  font-weight: 600;
  font-size: 0.7vw;
  line-height: 1.5;
}
.detail-1 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  top: -250px;
  left: 50px;
}
.detail-2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  top: 25px;
  left: -95px;
}
.detail-3 {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  top: 303px;
  left: 50px;
}
.detail-4 {
  position: absolute;
  top: -250px;
  left: 697px;
}
.detail-5 {
  position: absolute;
  top: 25px;
  left: 842px;
}
.detail-6 {
  position: absolute;
  top: 303px;
  left: 697px;
}
.detail-1:hover .detail-txt {
  opacity: 1;
}
.detail-2:hover .detail-txt {
  opacity: 1;
}
.detail-3:hover .detail-txt {
  opacity: 1;
}
.detail-4:hover .detail-txt {
  opacity: 1;
}
.detail-5:hover .detail-txt {
  opacity: 1;
}
.detail-6:hover .detail-txt {
  opacity: 1;
}

/* Section-4 */

.video-box {
  display: flex;
  justify-content: center;
  /* 우측 고정메뉴너비확인 */
  margin-right: 70px;
}
/* 간격 넓게 잡음 */
.video-box iframe {
  margin: 0 3% 0 0; /* 각 동영상 사이의 여백 */
}
/* 네비 */
footer {
  font-size: 14px;
}
.ft-nav {
  background-color: #ff7a00;
}
.ft-menu {
  width: 50%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #ff7a00;
  color: #fff;
  /* text-align: center; */
  white-space: nowrap;
}
.site {
  width: 10%;
  position: absolute;
  right: 12%;
  padding-left: 30px;
}
.site a {
  padding: 10%;
  /* color: #000; */
}

.familysite {
  background-color: #fff;
  border: 1px solid #ff7a00;
  display: none;
}

.familysite li {
  color: #444;
  /* display: none; */
}
.familysite > li:hover {
  text-decoration: underline 0.1em;
  color: #ff7a00;
}
footer .logo-img {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 2.5% 0 2.5% 0;
}
.sns-img {
  padding: 1.5% 0 1.5% 0;
}
.sns-img img {
  width: 50px;
  padding-right: 1%;
}
.text {
  color: #7a7a7a;
  text-align: center;
  /* letter-spacing: 0.2px; */
  line-height: 1.5em;
}
.text-copy {
  font-weight: bold;
}
