@charset "UTF-8";

/* 노말라이즈 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
menu,
nav,
section,
article,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
main,
header,
section,
nav,
footer,
aside,
article,
figure {
  display: block;
}
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  overflow-x: hidden; /* 반응형 */
  font-family: "Gothic A1", sans-serif;
  /* position: relative; */
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
strong,
th {
  font-weight: normal;
  font-family: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

i,
em {
  font-style: normal;
}

/* 페이지 앵커 */
#pageMenu {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  width: 80px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5%;
  /* background-color: bisque; */
  z-index: 999999999999999;
}
#pageMenu li {
  margin: 5px 0;
}
#pageMenu a {
  display: block;
  width: 100%;
  position: relative;
  text-align: right;
  padding-right: 20px;
}
#pageMenu li a span {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
  display: inline-block;
}
#pageMenu.on a span {
  color: #fff;
  font-size: 10px;
  background-color: #feca39;
}
#pageMenu a i img {
  width: 30px;
  height: auto;
}
#pageMenu a .readyq img {
  width: 35px;
}
#pageMenu a .product img {
  width: 20px;
}

#pageMenu a i.home {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/home_icon.png") no-repeat center;
  background-size: cover;
  border-radius: 0%;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
#pageMenu a i.readyq {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/q_icon.png") no-repeat center;
  background-size: cover;
  border-radius: 0%;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
#pageMenu a i.ingre {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/ingri_icon.png") no-repeat center;
  background-size: cover;
  border-radius: 0%;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
#pageMenu a i.product {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/product_icon.png") no-repeat center;
  background-size: cover;
  border-radius: 0%;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}
#pageMenu a i.video {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/youtube_icon.png") no-repeat center;
  background-size: cover;
  border-radius: 0%;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

#pageMenu a i::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 17px;
  height: 17px; */

  opacity: 0;
  transition: all 0.3s;
}
#pageMenu li.active a span {
  font-size: 13px;
}

#pageMenu li.active a i::before {
  border: none !important;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  opacity: 0;
}

/* 페이지 */
/*확인용 색상 */
#section1 {
  background-color: #feca39;
}
#section2 {
  background-color: #fff;
}
#section3 {
  background-color: #feca39;
}
#section4 {
  background-color: #fff;
}


.section .section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#section4 .section-inner {
  min-height: 300px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeRight {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveTxt {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
S .fp-controlArrow.fp-prev {
  left: 120px;
}
.fp-controlArrow.fp-next {
  right: 120px;
}
