@charset "utf-8";
@media screen and (max-width: 1200px) {
  footer .logo-img {
    width: 200px;
    height: auto;
  }
  .sns-img img {
    width: 45px;
  }
}
@media screen and (max-width: 1000px) {
  .site {
    width: 25%;
    position: static;
  }
  .ad_txt {
    margin-top: 5%;
  }
  .sw-inner {
    width: 60vw;
    margin-top: 20%;
  }
  /* 이미지 스와이퍼 전체 */
  .sw-inner .mySwiper {
    width: 80%;
  }
  .mySwiper2 .swiper-slide {
    /* background-color: blue; */
  }
  .mySwiper2 .swiper-slide iframe {
    height: 30vw;
    /* background-color: #fff; */
  }
  /* 영상 부모화면 */
  .sw-inner .mySwiper2 {
    width: 90%;
    height: 70%; /* 영상.이미지 간격 */
  }
}

@media screen and (max-width: 700px) {
  /* ============================승아 */
  #pageMenu li a .event img {
    width: 22px;
    left: -5px;
    top: -200px;
  }
  #pageMenu {
    gap: 3%;
  }
  footer .logo-img {
    width: 160px;
    height: auto;
  }
  .sns-img img {
    width: 35px;
  }
  footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 850px) {
  #pageMenu li a span {
    visibility: hidden;
  }
  #pageMenu li.active a span {
    visibility: hidden;
  }
  #pageMenu a i {
    right: 10px;
  }
  #pageMenu li a .event img {
    width: 24px;
    height: auto;
    display: inline-block;
    position: absolute;
    left: -28px;
    top: -180px;
    margin-bottom: 400px;
  }
}

@media screen and (max-width: 600px) {
  /* ================================승아 */
  .ft-menu {
    height: 30px;
    line-height: 30px;
    gap: 3%;
    padding-left: 2%;
  }
  .xi-caret-down-min {
    top: 8px;
    font-size: 15px;
    width: 20px;
  }
  footer .logo-img {
    width: 120px;
    height: auto;
  }
  .sns-img img {
    width: 25px;
  }
  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 412px) {
  .section1-bgbg {
    position: relative;
    display: inline-block;
    left: 0%;
    bottom: -40%;
    transform: translateY(-50%);
    width: 100%;
    /* height: 100%; */
  }
  .section1-bgbg img {
    width: 90%;
    height: 100%;
  }
  .section1-bg2 {
    position: absolute;
    bottom: 58%;
    left: 12%;
    width: 75%;
  }
  .section1-bg2 img {
    width: 90%;
    display: block;
    animation: fadeInUp 1.5s ease-out forwards;
  }
  .jangseonggue {
    position: absolute;
    bottom: 49%;
    left: 23%;
    width: 100%;
  }
  .jangseonggue img {
    width: 45%;
    height: 100%;
    animation: tilt 0.5s infinite alternate;
  }
  .section1-bgbg .starbg {
    display: none;
  }
  .ready-Q .qua {
    display: none;
  }
  .section1-bgbg .yummy {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .ad-txt{

    /* margin-top: 30%; */
  }
  .sw-inner {
    width: 90vw;
    /* margin-top: 30%; */
  }
  /* 이미지 스와이퍼 전체 */
  .sw-inner .mySwiper {
    /* width: 80%; */
    /* height: 40%; */
    /* background-color: red; */
  }
  .mySwiper2 .swiper-slide {
    /* background-color: blue; */
    /* height: 55vh; */
  }
  .mySwiper2 .swiper-slide iframe {
    width: 100%;
    height: 60vw;
    /* background-color: #fff; */
  }
  /* 영상 부모화면 */
  .sw-inner .mySwiper2 {
    width: 90%;
    height: 60%; /* 영상.이미지 간격 */
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  #pageMenu a .home,
  #pageMenu a .readyq,
  #pageMenu a .reco,
  #pageMenu a .product,
  #pageMenu a .video {
    display: none;
  }
  #pageMenu li.active a i {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  #pageMenu {
    gap: 3.5%;
  }
  .sw-inner {
    width: 90vw;
    margin-top: 40%;
  }
  /* 이미지 스와이퍼 전체 */
  .sw-inner .mySwiper {
    width: 80%;
    /* height: 40%; */
    /* background-color: red; */
  }
  .mySwiper2 .swiper-slide {
    /* background-color: blue; */
    height: 55vh;
  }
  .mySwiper2 .swiper-slide iframe {
    width: 100%;
    height: 60vw;
    /* background-color: #fff; */
  }
  /* 영상 부모화면 */
  .sw-inner .mySwiper2 {
    width: 90%;
    height: 75%; /* 영상.이미지 간격 */
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .sw-inner {
    width: 320px;
    margin-top: 60%;
  }
  /* .sw-inner .ad-txt{
  width: 330px
  } */
  .mySwiper2 .swiper-slide {
    /* background-color: blue; */
    height: 30vh;
  }
  /* 영상 부모화면 */
  .sw-inner .mySwiper2 {
    height: 50%; /* 영상.이미지 간격 */
  }


}
