@media screen and (max-width: 1920px) {
  /* 수정예정 */
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  /* section-3
  #section3 .section-inner {
    max-width: 1200px;
    padding-top: 120px;
  }
  .target-wrap {
    margin-top: 80px;
    height: 380px;
  }
  .target-1 p,
  .target-2 p,
  .target-3 p {
    margin-top: 0px;
  }
   */
}
